[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false
name = "pypi"

[packages]
pywin32 = "*"
pyinstaller = "*"
sqlalchemy = "*"
psutil = "*"
numpy = "*"
pandas = "*"
statsmodels = "*"
pyarrow = "*"
tabulate = "*"
click = "*"
PyInquirer = "*"
prompt_toolkit = "*"
tushare = "*"
plotly = "*"
sortedcontainers = "*"
recordclass = "*"
dotted_dict = "*"
schema="*"
rx = "*"
wcwidth = "*"


[dev-packages]
pytest = "*"
mock ="*"
